<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ibm.crl.dao.InfoRevealDao">

	<select id="getRevealDataCont" resultType="int">
		select count(1) from T_INFORMATION_DISCLOSURE
		where 1=1
		<if test="vo.product!=null and vo.product!=''">
			and product Like '%${vo.product}%'
		</if>
		<if test="vo.company!=null and vo.company!=''">
			and company Like '%${vo.company}%'
		</if>
		<if test="vo.reportType!=null and vo.reportType!=''">
			and reportType = #{vo.reportType}
		</if>
		<if test="vo.investTimeStart!=null and vo.investTimeStart!=''">
			and investTime >=#{vo.investTimeStart}
		</if>
		<if test="vo.investTimeEnd!=null  and vo.investTimeEnd!=''">
			and investTime  <![CDATA[<= ]]>CONCAT(#{vo.investTimeEnd},'23:59:59')
		</if>
		
		<if test="vo.reportTimeStart!=null and vo.reportTimeStart!=''">
			and reportTime >=#{vo.reportTimeStart}
		</if>
		<if test="vo.reportTimeEnd!=null  and vo.reportTimeEnd!=''">
			and reportTime  <![CDATA[<= ]]> CONCAT(#{vo.reportTimeEnd},'23:59:59')
		</if>
		
	</select>
	<select id="getRevealData" resultMap="infoRevealVo" >
		select * from T_INFORMATION_DISCLOSURE
		where 1=1
		<if test="vo.product!=null and vo.product!=''">
			and product Like '%${vo.product}%'
		</if>
		<if test="vo.company!=null and vo.company!=''">
			and company Like '%${vo.company}%'
		</if>
		<if test="vo.reportType!=null and vo.reportType!=''">
			and reportType = #{vo.reportType}
		</if>
		<if test="vo.investTimeStart!=null and vo.investTimeStart!=''">
			and investTime >=#{vo.investTimeStart}
		</if>
		<if test="vo.investTimeEnd!=null  and vo.investTimeEnd!=''">
			and investTime  <![CDATA[<= ]]>CONCAT(#{vo.investTimeEnd},'23:59:59')
		</if>
		
		<if test="vo.reportTimeStart!=null and vo.reportTimeStart!=''">
			and reportTime >=#{vo.reportTimeStart}
		</if>
		<if test="vo.reportTimeEnd!=null  and vo.reportTimeEnd!=''">
			and reportTime  <![CDATA[<= ]]> CONCAT(#{vo.reportTimeEnd},'23:59:59')
		</if>
		order by ${vo.sidx} ${vo.sord}
		LIMIT #{pc.dbStartNo},#{pc.rows}
	</select>
	<resultMap id="infoRevealVo" type="com.ibm.crl.model.InfoRevealVo">
		<id property="product" column="product" />
		<id property="productCode" column="productCode" />
		<id property="investTime" column="investTime" />
		<id property="reportType" column="reportType" />
		<id property="reportTime" column="reportTime" />
		<id property="company" column="company" />
	</resultMap>

</mapper>
